body, html {
    height: 100%;
    font-family: 'Chiller';
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-size: 30px;
}

h2, p, button {
    margin: 0;
}

#results {
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
}

.game

/* Annoying Dealer */

.harley {
    height: 300px;
}

/* Card Styling */

#dealer-cards img, #your-cards img {
    height: 125px;
    width: 85px;
    margin: 2px;
}

/* Button Styling */

#hit, #stay {
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;

    color: black;
    font-family: 'Chiller';
    background-color: rgb(151, 6, 35);
}

/* Background Image */

.bg {
    background-image: url("/media/background-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}